{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="h3 mb-4 text-center">Ingreso al sistema</h1>

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Usuario o contraseña incorrectos.
                    </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary w-100 mt-2" type="submit">
                            Ingresar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
